* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f2f4f8;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  width: 90%;
  max-width: 500px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

h1 {
  text-align: center;
  margin-bottom: 8px;
}

p {
  text-align: center;
  color: gray;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

#todoInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  outline: none;
}

button {
  padding: 10px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addBtn,
.edit-btn,
.delete-btn {
  width: 50px;
  height: 30px;
  padding: 0px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#addBtn {
  min-width: 60px;
  padding: 0 15px;
}

#addBtn {
  background: #2563eb;
  color: white;
}

.edit-btn {
  background: #22c55e;
  color: white;
}

.delete-btn {
  background: #ef4444;
  color: white;
}

#todoList {
  list-style: none;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9fafb;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.todo-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-text {
  font-size: 15px;
}

.task-time {
  font-size: 12px;
  color: gray;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.edit-btn {
  background: #22c55e;
  color: white;
}

.delete-btn {
  background: #ef4444;
  color: white;
}

@media (max-width: 600px) {

  .container {
    width: 95%;
    padding: 15px;
  }

  .todo-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .todo-left {
    width: 100%;
  }

  .action-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

  .edit-btn,
  .delete-btn {
    width: 70px;
    height: 35px;
  }
}