* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f2f4f8;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  width: 90%;
  max-width: 500px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

h1 {
  text-align: center;
  margin-bottom: 8px;
}

p {
  text-align: center;
  color: gray;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

#todoInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

button {
  padding: 10px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addBtn {
  background: #2563eb;
  color: white;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-btn {
  background: #e5e7eb;
}

.filter-btn.active {
  background: #2563eb;
  color: white;
}

#todoList {
  list-style: none;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9fafb;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.todo-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: #ef4444;
  color: white;
}